.jumbotron{
    text-align: center;
    background-image: url("http://www.nintendo.com/switch/etRgxnAu0zRX4bmWnt9K628wG7YQUI6t/images/switch/buy-now/bundle_color_console.jpg");
    color: lightcoral;
}

body{
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/61qxTCzXx0L._SY355_.jpg");
}

.middle{
    text-align: center;
}