.jumbotron{
    text-align: center;
    background-image: url(https://farm2.staticflickr.com/1698/23338909413_b0292a5e44_o.jpg);
}

.button{
    text-align: center;
}

tr, th, td{
    border: 2px solid black;
    text-align: center;
    background-color: white;
}

.poketable {
    width: 100%;
}

th {
    height: 50px;
}

/*tr:nth-child(even) {background-color: #f2f2f2}*/

th, td {
    padding: 15px;
    text-align: center;
}

.pokerow{
    text-align: left;
}

body{
    background-image: url(https://farm2.staticflickr.com/1698/23338909413_b0292a5e44_o.jpg);
}
